# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambiente Virtual
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos de ambiente
.env
.env.local

# Arquivos temporários do projeto
uploads/
Audios/
output/
*.wav
*.mp4
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db 